body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 100% !important;
    max-width: 300px;
    margin: 0 auto;
    height: 300px;
}
.card {
    background-color: rgba(76, 69, 69, 0.5); /* White background with 50% opacity */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: subtle border */
    height: 300px;
    padding: 0px !important;
}
.card-body {
    background-color: transparent; /* Make sure the inner content is fully opaque */
    padding: 5px; /* Ensure padding inside card */
    height: 300px;
}
.login-logo img {
    width: 40%;
}
.login-box-msg {
    color: #358359;
    font-size: 1rem;
    font-weight: 600;
    text-align: center; /* Center the message text */
}
.text-center a {
    display: inline-block;
    width: 55%;
}