body{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.login-box {
width: 100% !important;
max-width: 350px;
margin: 0 auto;
}
.card {
background-color: rgba(76, 69, 69, 0.5);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 20px;
}
.login-logo img {
width: 40%;
}
.login-box-msg {
color: #358359;
font-size: 1.1rem;
font-weight: 600;
text-align: center;
}
.input-group-text {
background-color: #6c757d;
border: none;
}
.form-control {
border-left: none;
}

.btn-warn{
background-color: #e6eb19;
color: #272626;
}